@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-coverImage {
    background-image: url('assets/img/bg/banner.png');
    height: 395px;
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  
}

.bg-coverPartners{

  background-image: url('assets/img/bg/bg-1.png');
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.swiper-button-prev:after,  .swiper-button-next:after{
  color: #3F3F40;
  font-size: 20px !important;
  font-weight: bold !important;
}

@media (max-width: 767px) {

  .swiper-slide{
  display: flex;
   justify-content: center;
  }
}